* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

html, body {
    height: 100%;
}

li {
    list-style-type: none;
}

button {
    font-size: 1rem;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #1d4ed8;
    border: none;
    border-radius: 30px;
    padding: 10px 40px;
    cursor: pointer;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.header {
    background-color: #eff6ff;
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.search {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.below {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.button-menu > ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
}

/* Sidebar */
.sidebar {
    color: #FFFFFF;
    background-color: #1d4ed8;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: 1fr repeat(2, 4fr);
}

.logo {
    display: flex;
    align-items: center;
}

.logo .icon {
    width: 3rem;
    height: 3rem;
}

.side-menu > ul,
.side-helper > ul {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    gap: 20px;
}

.icon-section {
    display: flex;
    align-items: center;
}

.icon-circle {
    border-radius: 50%;
}

.icon-white {
    fill: white;
    width:24px;
    height:24px;
}

/* Main Content */
.main-content {
    background-color: #bfdbfe;
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.main-content .card {
    background-color: #FFFFFF;
}

.article {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 1fr repeat(3, 10fr);
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

.article .title {
    grid-column: 1 / 3;
}

.announcements {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    /* grid-template-rows: repeat(3, 1fr); */
}

.announcements .card,
.trending .card {
    display: grid;
    /* grid-template-rows: repeat(3, 1fr); */
    gap: 15px;
}

.announcements .text {
    border-bottom: 1px solid #000;
}

.trending {
    grid-column: 2 / 3;
    display: grid;
}